:root {
    --font-h1-size: clamp(2rem, 6vw, 3.5rem);
    --font-h2-size: clamp(1.75rem, 4vw, 2.75rem);
    --font-h3-size: clamp(1.5rem, 3vw, 2rem);
    --font-h4-size: clamp(1.25rem, 2vw, 1.5rem);
    --font-h5-size: clamp(1rem, 1.5vw, 1.25rem);
    --font-h6-size: 20px;
    --font-body-l: 16px;
    --font-body-m: 14px;
    --font-body-s: 12px;
    --font-btn-size: 14px;

    --color1: #F15A29;
    --color2: #231F20;
    --color3: #000123;
    --color4: #0013FF;
    --color5: #FFF200;
    --color6: #F6D554;
    --color7: #EF4136;
}


@font-face {
    font-family: 'Equip';
    src: url('fonts/equip/EquipW03-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Equip';
    src: url('fonts/equip/EquipW03-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Equip';
    src: url('fonts/equip/EquipW03-Medium.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Equip';
    src: url('fonts/equip/EquipW03-Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Equip';
    src: url('fonts/equip/EquipW03-ExtraBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Equip';
    src: url('fonts/equip/EquipW03-Black.ttf') format('truetype');
    font-weight: 800;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    overflow-x: hidden;
    font-family: 'Equip', 'Be Vietnam Pro', 'Inter', system-ui, sans-serif;
}

/* .preload * {
    animation: none !important;
    transition: none !important;
} */


main {
    padding-top: var(--header-height);
}

.home_header,
.header {
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.header {
    background: var(--color2);
}

/* .home_header.scrolled {
    background: #231f20c1; 
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.08); 
} */
.header.active {
    background: transparent;
}

.home_header_wrapper,
.header_wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 1005;
    justify-content: space-between;
}


.home_header_logo,
.header_logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    z-index: 1002;
}

.home_header_logo img,
.header_logo img {
    width: 50px;
    height: auto;
    object-fit: contain;
    display: block;
}


.home_btn_menu_mobile,
.btn_menu_mobile {
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1001;
    border-radius: 50%;
    padding: 0.4rem;
    border: 4px solid var(--color7);
    /* background-color: var(--color2); */
    margin-left: 1rem;
}

.home_btn_menu_mobile {
    display: flex;
}

.btn_menu_mobile {
    display: none;
}

.home_btn_menu_mobile span,
.btn_menu_mobile span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--color1);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.home_btn_menu_mobile.active,
.btn_menu_mobile.active {
    border-color: white;
}

.home_btn_menu_mobile.active span:nth-child(1),
.btn_menu_mobile.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: white;
}

.home_btn_menu_mobile.active span:nth-child(2),
.btn_menu_mobile.active span:nth-child(2) {
    opacity: 0;
}

.home_btn_menu_mobile.active span:nth-child(3),
.btn_menu_mobile.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
    background-color: white;
}

.btn_menu_mobile {
    display: none;
}

.header_nav {
    /* flex: 7; */
    display: block;
    margin: auto 0;
}

.header_nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    /* padding: 0.5rem 0; */
}

.header_nav ul .menu_item:not(:last-child) {
    border-right: var(--color1) 2px solid;
}

.header_nav ul .menu_item>a {
    padding: 0.2rem 0.4rem;
    color: var(--color1);

}

.header_nav ul .menu_item:hover>a {
    background: var(--color1);
    border-radius: 1rem;
    color: #231F20;

}

.header_nav ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 300;
    padding: 0.1rem 2rem;

}

.header_nav ul li a {

    font-size: var(--font-h4-size);
    text-decoration: none;
    text-transform: uppercase;
}

.header_nav ul li.active {
    font-weight: 900;
}

.header_nav .sub_menu {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color1);
    color: var(--color2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    z-index: 10001;
    border-radius: 1rem;
}

.has-sub {
    position: relative;
}

.has-sub .sub_menu li a {
    color: var(--color2);
}

.header_nav .has-sub>a:after {
    content: "▾";
    color: var(--color1);
    font-size: var(--font-h4-size);
}

.header_nav .has-sub:hover>a {
    border-radius: 1rem;
    background: var(--color1);
    color: var(--color2);
}

.header_nav .has-sub:hover>a:after {
    color: var(--color2);
}

.header_nav ul li:hover .sub_menu {
    display: block;
    visibility: visible;
}

.sub_menu li {
    padding: 0.5rem;
    color: var(--color2);
    border-radius: 1rem;

}

.sub_menu li:hover {
    background: var(--color1);
    color: #231F20;
}

.sub_menu li a {
    font-size: var(--font-h4-size);
    white-space: nowrap;
}


.sub_menu li a:hover {
    text-decoration: underline;

}


.mobile-menu {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, var(--color1), var(--color6));
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.mobile-menu.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.mobile-menu.active {
    transform: translateX(0);
}

.header-mobile-menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    visibility: hidden;
}

.btn_close {
    padding: 0.1rem 2rem;
    cursor: pointer;

}

.header-mobile-menu i {
    font-size: 2rem;
    color: var(--color1);
}
/* ===== Gooey filter ===== */
.bg {
  position: fixed;
  inset: 0;
  filter: url(#gooey);
  z-index: 0;
}

.bg-circle {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: #f15b24c4;
  pointer-events: none;
}

.circle-1 {
  left: -260px;
  top: -10%;
  animation: moveRight 7s ease-in-out infinite alternate;
}

.circle-2 {
  right: -260px;
  top: 45%;
  animation: moveLeft 7s ease-in-out infinite alternate;
}
.menu_mobile_nav {
    position: fixed;
    inset: 0;
    background: var(--color2);
    clip-path: circle(0px at 100% 0);
    transition: clip-path 0.7s cubic-bezier(.4,0,.2,1);
    z-index: 1000;
}

.menu_mobile_nav.active {
    clip-path: circle(150% at 100% 0);
}

.menu_mobile_nav .menu_nav_items {
    padding-top: 14%;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_mobile_nav ul{
    list-style: none;
}
.menu_mobile_nav li{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease-out;
}
.menu_mobile_nav > li {
    text-align: center;
}

.menu_mobile_nav.active li {
    opacity: 1;
    transform: translateY(0);
    text-align: center;

}

.menu_mobile_nav.active li:nth-child(1) {
    transition-delay: .2s;
}

.menu_mobile_nav.active li:nth-child(2) {
    transition-delay: .3s;
}

.menu_mobile_nav.active li:nth-child(3) {
    transition-delay: .4s;
}

.menu_mobile_nav.active li:nth-child(4) {
    transition-delay: .5s;
}

.menu_mobile_nav a,
.menu_mobile_nav label {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    line-height: 42px;
    font-size: 1.5rem;
}



.menu_mobile_nav .sub_menu_mobile {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .45s ease, opacity .3s ease;
}
.menu_mobile_nav .sub_menu_mobile li a{
    display: block;
    color: white;
    font-size: var(--font-h4-size);
}
.has-sub.open .sub_menu_mobile {
    max-height: 300px;
    opacity: 1;
}
.arrow {
    font-size: 18px;
    transition: transform .3s ease;
}
.has-sub.open .arrow {
    transform: rotate(180deg);
}

/* .menu_mobile_nav .has-sub>label {
    position: relative;
    padding-right: 1.2rem;
}

.menu_mobile_nav .has-sub>label::after {
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: -10%;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.25s ease;
}

.menu_mobile_nav .has-sub input[type="checkbox"]:checked+label::after {
    transform: translateY(-50%) rotate(180deg);
}

#drop1 {
    display: none;
}

.menu_mobile_nav .has-sub input[type="checkbox"]:checked~.sub_menu_mobile {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    display: block;
} */

.home_wrapper,
.about_wrapper {
    position: relative;
    /* overflow-x: hidden;  
    overflow-y: visible; */
}

.container {
    /* overflow-x: hidden;
    overflow-y: visible;  */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;

}


.hero_layer img {
    width: 100%;
}

.hero_showreel {

    position: relative;
    height: 100vh;
    overflow: hidden;

}

.hero_showreel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.hero_backround--2 {
    /* grid-column: 1/-1;
    grid-row: 1/3;
    transform: translateY(15%);
    z-index: 3; */
    position: absolute;
    z-index: 1;
    top: 0;
    left: -5%;
    width: 110%;


}


.hero_backround--2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, white 70%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
}


.hero_backround--2 img {
    width: 100%;
}

.main_content {
    min-height: 200vh;
    background: white;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.main_content_inner {
    display: grid;
    grid-auto-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);

}

.about_intro {
    grid-column: 1/-1;
    grid-row: 1;
    position: relative;
}




.intro_text,
.showcase {
    position: relative;
    z-index: 2;
}

.intro_text p {
    width: 60%;
    margin: auto;
}

.about_intro>*,
.about_trust>* {
    justify-content: center;
    text-align: center;
    padding: 0.3rem;
}

.intro_text:nth-child(3) p {
    color: white;
}

.about_intro p,
.about_trust p {
    padding: 0.5rem 0;
    font-weight: 400;
    font-size: var(--font-body-l);
    color: var(--color2);
}


/* .about_trust p {
    opacity: 0.5;
} */

.about_intro .title,
.about_trust .title {
    text-transform: uppercase;
    color: var(--color1);
    padding-top: 0.5rem;
    font-weight: 900;
    font-size: var(--font-h2-size);
}

.showreel {
    /* grid-row: 2;
    grid-column: 3/11;
    transform: translateY(5%); */
}


.btn_seemore {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color3);
    background: var(--color4);
    color: white;
    border-radius: 2rem;
    font-size: var(--font-body-l);
    text-transform: uppercase;
    font-weight: 700;

}

#logo-container {
    opacity: 0;
    transition: opacity 0.5s ease;
}

#logo-container.loaded {
    opacity: 1;
}

.gallery {
    cursor: default;
    opacity: 1;
    visibility: visible;
}

.gallery-cell {
    width: 150px;
}

.gallery-cell img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}


.home_services_list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 180px;
    gap: 10px;
    padding: 0.5rem 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.ser_item {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column: span 3;
}

.ser_item_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.2);
}

.ser_item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.ser_item:nth-child(3) {
    grid-column: span 6;
    grid-row: span 2;
}


.ser_item:nth-child(n + 6) {
    grid-column: span 4;
}


.ser_item a {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: clamp(1.1rem, 3.5vw, 3.5rem);
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    /* Bóng đen đậm để đọc được chữ */
    line-height: 1.2;
}



.bg_city {
    grid-column: 1/-1;
    grid-row: 2;
    /* position: absolute; */
    z-index: 9;
}

.bg_contact_us {
    grid-column: 1/-1;
    grid-row: 2;
    position: absolute;
    bottom: -1%;
    z-index: 9;
}

.contact_infor {
    grid-column: 6/9;
    grid-row: 2;
    /* position: absolute; */
    z-index: 13;
    transform: translate(-20%, 10%);
    width: 110%;
}

.bulding {
    grid-column: 6/9;
    grid-row: 2;
    /* position: absolute; */
    justify-self: end;
    z-index: 12;
    transform: translate(-20%, 51%);
}

.card_contact_us {
    grid-column: 4/6;
    grid-row: 2;
    /* position: absolute; */
    justify-self: end;
    z-index: 12;
    transform: translate(-25%, 45%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr)
}

.contact_us {
    grid-column: 1/-1;
    grid-row: 1;
    width: 110%;
}

.card_fl_b2event {
    grid-column: 9/11;
    grid-row: 2;
    /* position: absolute; */
    justify-self: end;
    z-index: 14;
    transform: translate(-25%, 55%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.fl_b2event {
    grid-column: 1/-1;
    grid-row: 1;
    width: 110%;
    /* transform: translateY(40%); */

}

.card_phone {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    z-index: 13;
}

.card_mail {
    grid-column: 1;
    grid-row: 1;
    /* position: absolute; */
    justify-self: end;
    z-index: 13;
    transform: translateY(30%);
}

.card_zalo {
    grid-column: 6;
    grid-row: 1;
    /* position: absolute; */
    justify-self: end;
    z-index: 13;
    transform: translateY(30%);
    /* transfor%); */
}

.card_youtube {
    grid-column: 4;
    grid-row: 1;
    width: 120%;
    transform: translate(0, -10%);
}

.card_fb {
    grid-column: 6;
    grid-row: 1;
    width: 100%;
    transform: translate(60%, -15%);
}

.card_ig {
    grid-column: 5/7;
    grid-row: 1;
    width: 90%;
    transform: translate(70%, 20%);
}

.card_linkedin {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    transform: translate(0%, 30%);
}

.flowers-1 {
    grid-column: 4/6;
    grid-row: 2;
    /* position: absolute; */
    justify-self: end;
    z-index: 13;
    transform: translate(11%, 60.7%);
    width: 70%;
}

.flowers-2 {
    grid-column: 4/7;
    grid-row: 2;
    /* position: absolute; */
    justify-self: end;
    z-index: 11;
    transform: translate(15%, 38%);
    width: 80%;
}

.flowers-3 {
    grid-column: 6/9;
    grid-row: 2;
    /* position: absolute; */
    justify-self: end;
    z-index: 13;
    transform: translate(12%, 60%);
    width: 70%;
}

.flowers-4 {
    grid-column: 6/9;
    grid-row: 2;
    /* position: absolute; */
    justify-self: end;
    z-index: 12;
    transform: translate(15%, 49%);
    width: 70%;
}

/* .showcase {
    grid-column: 1/-1;
    grid-row: 3;
    z-index: 10;
}  */


.showcase_title {

    background: var(--color2);
    color: white;
}

/* .typical_customers_slider {
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 0;

}

.typical_customers_slider {
    display: flex;
    flex-direction: row;
    width: max-content;
    animation: slideLoop 25s linear infinite;
} */

.showcase_slider {
    display: flex;
    flex-direction: row;
    width: max-content;
    animation: slideLoopfromRtoL 25s linear infinite;
}

.typical_customers_ticker {
    display: inline-block;

}

.typical_customers_ticker a {
    text-decoration: none;
    color: var(--color1);
    font-size: var(--font-h5-size);
    padding-left: 1rem;
    font-weight: 700;
}

.showcase_slider {
    /* display: flex; */
    gap: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 0;
}

.showcase_item img {
    width: 30vw;
    height: auto;
}

/* about page */
.about_container {
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

/* .about_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right, rgba(255,0,0,0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,255,0.5) 1px, transparent 1px);
    background-size: calc(100% / 12) 100%, 100% calc(100% / 3); 
    pointer-events: none;
    z-index: 999;
}  */



.layer img {
    width: 100%;
    object-fit: cover;
}

.about_background--1,
.about_background--2,
.about_background--3,
.about_background--5,
.about_background--6 {
    position: absolute;
}

.about_background--1 {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 2;
    transform: translateY(-10.5%);
}

.about_background--2 {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 2;
    transform: translateY(0%) rotateY(180deg);
}

.about_background--3 {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 2;
    transform: translateY(0%) rotateY(180deg);
}

.about_background--5 {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 3;
    transform: translateY(8%);
}

.about_background--6 {
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: 4;
    transform: translateY(19%) rotateY(180deg);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

}

.about_background--6::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, white 80%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
}

/* section */


.mask-wrap {
    position: relative;
    width: 99%;
    height: 120%;
    top: 1%;
    -webkit-mask-image: url('imgs/About/book.png');
    mask-image: url('imgs/About/book.png');
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    margin: 0 auto;
}

.showreel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
}

.frame {
    width: 100%;
    height: auto;
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
}

/* section  */
.clients {
    grid-column: 1/-1;
    grid-row: 2/3;
    z-index: 11;
    transform: translateY(25%);
    display: grid;
    grid-auto-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.about_trust {
    grid-column: 3/11;
    grid-row: 1;
}


.logo_customers {
    grid-column: 1/-1;
    grid-row: 2;
    transform: translate(0, 2%);
    position: relative;
    /* overflow: hidden; */
    display: grid;
    grid-auto-rows: auto auto;
    grid-template-columns: repeat(12, 1fr);
}

.head_universe {
    grid-column: 4/10;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}


.galaxy-container {
    position: absolute;
    top: -8%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.galaxy-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .7s ease;
}

.galaxy-slide.active {
    opacity: 1;
}

.galaxy-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.galaxy-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    border-radius: 50%;
    background: #ffffff50;
    cursor: pointer;
    /* transition: background 0.3s ease, transform 0.3s ease; */
}

.galaxy-dot.active {
    background: #fff;
    transform: scale(1.4);
}


.logo-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 15;
    transition: z-index 0.3s ease;
    perspective: 1000px;

    transition: transform 0.1s linear;

    transform-origin: center center;
    will-change: top, left, transform;
}


.logo-item {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* animation: floatingRotate 10s infinite linear; */
    /* transform: rotateY(90deg); 
    opacity: 0;
    animation: logoFlipIn 1s forwards; */

}

@keyframes spinFromLeft {
    0% {
        transform: translateX(-40px) rotate(-180deg);
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.logo-fly-anim {
    animation: spinFromLeft 3s cubic-bezier(.25, 1, .35, 1) forwards;
    will-change: transform, opacity;
}


/* @keyframes logoFlipIn {
    0% {
        transform: rotateY(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
} */

#playBtn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color1);
    border: none;
    border-radius: 50%;
    font-size: clamp(2rem, 6vw, 5rem);
    cursor: pointer;
    display: none;
    z-index: 10;
    transition: background-color 0.3s, transform 0.2s;
}

#playBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%) scale(1.1);
}

@keyframes floatingRotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* section  */
.creative {
    grid-column: 1/-1;
    grid-row: 4;
    z-index: 10;
    width: 100%;
    height: auto;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    transform: translateY(2%);
    /* grid-auto-rows: auto; */
    position: relative;
}

.sample {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.about_backround_city {
    grid-column: 1/-1;
    align-self: end;
    z-index: 3;
    position: relative;
    transform: translateY(1%);
}

.sunset {
    grid-column: 1/10;
    z-index: 2;
    position: absolute;
    transform: translate(-11%, -10%);
}

.flowers-5 {
    grid-column: 1/7;
    position: absolute;
    z-index: 5;
    align-self: end;
    transform: translate(-10%, 15%);
}

.flowers-6 {
    grid-column: 2/8;
    position: absolute;
    z-index: 5;
    align-self: end;
    transform: translate(1%, 6%);
}

.paper_circle {
    grid-column: 3/8;
    position: absolute;
    z-index: 4;
    align-self: center;
    transform: translate(-10%, 5%);
}

.starts_top {
    grid-column: 9/13;
    transform: rotateY(180deg);
    position: absolute;
    z-index: 4;

}

.starts_mid {
    grid-column: 3/7;
    position: absolute;
    z-index: 3;
    transform: translate(-5%, 35%) rotateY(180deg);
}

.starts_bottom {
    grid-column: 6/10;
    position: absolute;
    z-index: 4;
    align-self: end;

}

.human_jump {
    grid-column: 3/8;
    position: absolute;
    z-index: 6;
    align-self: center;
    transform: translate(-13%, 5%);
}

.pattern {
    grid-column: 3/11;
    position: absolute;
    z-index: 7;
    transform: translate(-6%, 22%);
}

/* services  */

.services_container {
    overflow: hidden;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto; */
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
}

.services_background {
    /* grid-column: 1/-1;
    grid-row: 1/3; */
    position: absolute;
    z-index: 2;
    transform: translate(0, -3%);
}

.services_background_bonus {
    /* grid-column: 1/-1;
    grid-row: 1/3; */
    z-index: 1;
    bottom: 10%;
    /* position: absolute; */
    display: none;
}

/* .services_top_hand {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 3;
    transform: translate(0, -10%);
    
}

.services_bottom_hand {
    grid-column: 1/-1;
    grid-row: 3;
    z-index: 3;
    transform: translate(0, 5%);
} */

.services {
    /* grid-column: 1/-1;
    grid-row: 1; */
    position: relative;
    /* transform: translate(0,15%); */
    margin: 10% 0 1rem 0;
    z-index: 4;
    height: fit-content;
}

.services_content {
    color: white;
    margin: 0 auto;
    text-align: center;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto; */
}

.services_title {
    /* grid-row: 1;
    grid-column: 1/-1; */
    font-weight: 900;
    font-size: var(--font-h1-size);
}

.services_subtitle {
    /* grid-row: 2;
    grid-column: 3/11; */
    margin: 0.5rem auto;
    font-weight: 300;
    text-align: center;
    opacity: 0.9;
    font-size: var(--font-body-l);
}

.services_list {
    grid-row: 3;
    grid-column: 1/-1;
    list-style: none;
    font-weight: 700;
    font-size: var(--font-h3-size);
    margin: 0.5rem auto;
    padding-top: 1.5rem;
    position: relative;
    z-index: 3;

}

.services_item {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0.5rem 1rem;
    font-weight: 900;
}



.services_item a {
    grid-column: 2;
    text-align: center;
    text-decoration: none;
    color: white;
}

.services_item:hover {
    text-decoration: underline;
    z-index: 1;
}

.services_item img {
    width: 20%;
    transform: translateY(-40%);
    grid-column: 2;
    position: absolute;
    opacity: 0;
    transition: 0.6s ease-in;
    pointer-events: none;
}

.services_item.even img {
    grid-column: 1;


}

.services_item.odd img {
    grid-column: 3;

}

.services_item.odd:hover img {
    right: 10%;
    opacity: 1;
}

.services_item.even:hover img {
    left: 10%;
    opacity: 1;
}


/* .services_item:nth-child(6) a,
.services_item:nth-child(7) a,
.services_item:nth-child(8) a {
    color: var(--color1);
}
.services_item:nth-child(6):hover a,
.services_item:nth-child(7):hover a,
.services_item:nth-child(8):hover a {
    color: var(--color1);
    text-decoration: underline;
}


.services_item:nth-child(6) a {
    opacity: 0.8;
}

.services_item:nth-child(7) a {
    opacity: 0.9;
} */

.wave_wrapper {
    position: absolute;
    z-index: 3;
    width: 100%;
}

.wave_wrapper svg {
    scale: 1;
    transform: translate(0%, 15%);
    transform-origin: top;
    overflow: visible;
}


.showcase_banner {
    /* grid-column: 1/-1;
    grid-row: 3; */
    z-index: 4;
    position: relative;
    /* align-self: end; */
    /* transform: translateY(-40%); */
}

.showcase_banner>* {
    background: var(--color4);
    font-weight: 900;
    font-size: var(--font-h3-size);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: .5rem 0;
    margin-bottom: 1rem;
}

.services_showcase {
    /* grid-column: 1/-1;
    grid-row: 4; */
    position: relative;
    z-index: 4;
    display: flex;
    gap: 1rem;
}

/* services / services_detail */
.services_detail_container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
}

.services_detail_background {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 1;
    width: 120%;
    transform: translate(0, -5%) rotate(180deg);
    position: absolute;
}

.services_detail_background_bonus {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 2;
    position: absolute;
    transform: translate(0, 25%) rotate(180deg);
}

/* .layer_left {
    grid-column: 1/7;
    grid-row: 1;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
} */

.frame_1 {
    grid-column: 2/6;
    grid-row: 1;
    z-index: 4;
    transform: translate(0, 5%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* position: relative; */
}

.services_detail_frame_1,
.services_detail_frame_2 {
    position: relative;
    z-index: 2;
    grid-column: 1/-1;

}

.services_detail_img_1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    grid-column: 1/-1;
    transform: rotate(-20deg) translate(10%, 25%);
    width: 70%;
    margin: auto;

}

.frame_2 {
    grid-column: 2/4;
    grid-row: 1;
    align-self: center;
    z-index: 4;
    position: relative;
    transform: translate(0, 60%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* transform: translate(10%,40%); */
}

.services_detail_img_2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    grid-column: 1/-1;
    transform: rotate(10deg) translate(15%, 15%);
    width: 80%;
    margin: auto;

}

.flowers_phone {
    grid-column: 1/6;
    grid-row: 1;
    z-index: 2;
    transform: translate(5%, 2%);

}

.btn_back {
    position: absolute;
    z-index: 4;
    top: 1%;
    right: 2%;
    color: white;
    background: none;
    border: none;
    font-size: var(--font-h6-size);
    cursor: pointer;

}


.services_detail {
    grid-column: 7/13;
    grid-row: 1;
    z-index: 2;
    background: rgba(255, 255, 255, 0.253);
    padding-top: 1rem;
}

.services_detail_text {
    justify-content: center;
    text-align: left;
    color: white;
    margin: 1.5rem 0.5rem;
    font-weight: 400;
}

.services_detail_text>* {
    margin-top: 0.5rem;
}

.services_detail_text p,
.services_detail_text ul {
    margin: 0 1rem;
}


.services_detail_text h1 {
    font-size: var(--font-h2-size);
    color: var(--color7);
    font-weight: 800;

}

.services_detail_text h2 {
    font-size: var(--font-h2-size);
    color: white;
    font-weight: 800;
    margin-top: 0;
}

.services_detail_text .p1 {
    font-size: var(--font-h4-size);
}

.services_detail_text .p2 {
    font-size: var(--font-h6-size);

}

.services_detail_text .p1,
.services_detail_text span {
    color: var(--color1);
    font-weight: 800;
}

.services_detail_text .p2 {
    line-height: 30px;
}

.services_detail_text ul {
    list-style: none;
    padding: 0;
    font-size: var(--font-h4-size);
}


.services_detail_text ul li {
    color: var(--color1);
    padding-top: 0.8rem;
    font-weight: 800;
}

.services_detail_showcases {
    grid-column: 1/-1;
    grid-row: 2;
    z-index: 2;
    background: var(--color4);
    /* padding: 1rem; */
}

.showcase_detail_title {
    text-align: center;
    font-size: var(--font-h4-size);
    background: none;
    padding: 2rem;
    color: white;
}

.showcase_detail_title h3 {
    font-weight: 400;
}

/* cultures/podcast */
.podcast_container {
    overflow: hidden;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto; */
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
}

.background_human {
    /* grid-column: 1/-1;
    grid-row: 1; */
    z-index: 1;
    position: absolute;
}

.podcast_hero {
    /* grid-column: 1/-1;
    grid-row: 1; */
    z-index: 2;
    top: 10%;
    text-align: center;
    position: relative;
    margin: 1rem auto;
    /* align-self: start; */
}

.podcast_list_section {
    /* grid-column: 1 / -1;
    grid-row: 1/3; */
    align-self: top;
    z-index: 3;
    position: relative;
    transform: translate(0, -10%);


}

.podcast_background {
    /* grid-column: 1 / -1;
    grid-row: 2/3; */
    position: relative;
    z-index: 1;
    transform: translate(0, 130%);

}


.podcast_title {
    color: var(--color3);
    font-size: clamp(2rem, 10vw, 7rem);
    font-weight: 900;
}

.podcast_highlight {
    color: var(--color4);
}



.podcast_intro>* {
    margin-bottom: 1rem;
}

.podcast_intro {
    text-align: center;
    padding: 2rem 0.5rem;
    font-size: clamp(0.5rem, 3vw, 1.2rem);
}

.podcast_list {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 1rem;
    margin: 0 auto;
    gap: 1rem;
}


.podcast_process_content>* {
    margin-bottom: 1rem;
}

.podcast_process_title {
    font-weight: 900;
    font-size: var(--font-h3-size);
}

.podcast_process_text {
    font-weight: 400;
    font-size: var(--font-body-l);
}

.podcast_item {
    padding: 0.5rem;
}

.podcast_item .podcast_wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
}

.podcast_process_img {
    flex: 4;
}

.podcast_process_content {
    flex: 5;
}

.podcast_process_img img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;
}




.pagination_1 {
    position: relative;
    align-self: center;
    width: 100%;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 10;
}

.pagination_1 button {
    padding: 8px 14px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}

.pagination_1 button.active {
    background: var(--color4);
    color: white;
}


/* cultures/blog */
.blog_container {
    overflow: hidden;
    display: grid;
    /* max-width: 1200px; */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
}

.background_headphone {
    grid-column: 5/10;
    grid-row: 1;
    z-index: 4;
}

.blog_background {
    grid-column: 1/-1;
    transform: translateY(40%) rotateX(180deg);
    grid-row: 2/3;
    z-index: 3;
    position: absolute;
}

/* .blog_background::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, white 30%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
} */

.background_flowers_human {
    grid-column: 2/12;
    grid-row: 3;
    align-self: end;
    z-index: 3;
    transform: translate(0, 4%);
    /* position: relative; */
    /* padding-bottom: 100px; */
}

.blog_hero {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 4;
    margin: 0 auto;
    position: relative;
    align-self: end;
    bottom: 10%;
    /* left: 50%;
    transform: translateX(-50%); */
}

.blog_hero_title {
    font-size: clamp(2rem, 12vw, 10rem);
    font-weight: 900;
}

.blog_hero_title span {
    color: var(--color4);
}

.blog_list_section {
    position: relative;
    grid-column: 1/-1;
    grid-row: 2;
    z-index: 4;
    transform: translate(0, -5%);
    /* margin: 0rem auto; */
}

.blog_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 90%;
    margin: auto;
    /* margin: 0rem auto; */
}

.blog_item {
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
    height: auto;

}

.blog_item:hover {
    transform: translateY(-5px);
}

.blog_img {
    display: flex;
    justify-content: center;

}

.blog_img img {
    width: 100%;
    aspect-ratio: 7/4;
    object-fit: cover;
    display: block;
}

.blog_content {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: left;
}

.blog_title {
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.blog_text {
    color: #333;
    font-weight: 400;
    font-size: 0.95rem;
    margin-bottom: 0.75rem;
}

.blog_note {
    font-weight: 500;
    font-size: 0.9rem;
    color: #000;
}

.blog_list_section .pagination {
    width: 100%;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 10;
    top: 4%;
}

.pagination button {
    padding: 8px 14px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.25s;
}

.pagination button.active {
    background: var(--color4);
    color: #fff;
}

.pagination button:hover {
    background: var(--color4);
    color: white;
}



/* hiring page  */
.hiring_container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
}

.hiring_background {
    grid-column: 1/-1;
    grid-row: 1;
}

.hiring_human {
    grid-column: 3/11;
    grid-row: 1;
    z-index: 4;
    align-self: end;
    transform: translate(0, 10%);
}

.hiring_hero {
    grid-column: 1/-1;
    grid-row: 1;
    z-index: 3;
    color: white;
    transform: translate(0, 13%);
}

.hiring_hero>* {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
}

.hiring_subtitle_big {
    font-size: var(--font-h3-size);
    font-weight: 900;
}

.hiring_subtitle_small {
    font-size: var(--font-body-l);
}


.hiring_content {
    background-color: var(--color4);
    color: white;
    grid-column: 1/-1;
    grid-row: 2;
    padding-top: 2rem;
}

.hiring_title_wrapper {
    /* height: 120vh; */
    overflow: hidden;
    position: relative;
    font-size: 7rem;
    font-weight: 900;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.hiring_line {
    padding-bottom: 0.5rem;
}

.hiring_list {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;

}

.hiring_item {
    display: flex;
    margin: 1rem;
    gap: 1rem;
}

.hiring_thumb {
    flex: 2;
}

.hiring_thumb img {
    width: 100%;
}

.hiring_item_content {
    flex: 8;
    margin: auto;
}

.hiring_content .pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem 0;
}

.hiring_content .page_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 30px;
    background: none;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.page_btn:hover {
    background-color: var(--color1);
    color: white;
    transform: scale(1.1);
}

.page_btn.active {
    background-color: var(--color1);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.hiring_info {
    text-align: center;
    padding: 1rem 0;
}

.hiring_info>* {
    margin-bottom: 0.5rem;
}

.hiring_info_text a {
    text-decoration: none;
    color: white;
}

.hiring_info_text span {
    font-weight: 700;
}

/* footer */
footer {
    width: 100%;
    background: var(--color3);
    color: white;
    font-size: var(--font-body-m);

}

.footer {
    max-width: 1400px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
}

.footer_main {
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_logo {
    flex: 1;
}

.footer_logo img {
    max-width: 3rem;
}

.footer_blocks {
    flex: 1;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: .7rem;
}

.footer_block {
    padding: 1rem 0.5rem;
    text-align: left;
    line-height: 1.5rem;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}

.footer_block_heading {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.footer_block_content {
    margin-bottom: 0.3rem;
}

.footer_block_content a {
    text-decoration: none;
    color: white;
}

.footer_block_content iframe {
    width: 100%;
    height: 80%;
}

.footer_credits {
    display: flex;
    gap: 1rem;
}

.footer_credits a i {
    color: white;
    font-size: var(--font-body-m);
}

@media (max-width: 1200px) {
    /* .services {
        transform: translateY(28%);
    } */

    .podcast_list {
        gap: 0.5rem;
    }
}

@media (max-width: 992px) {
    .logo-wrapper {
        width: 150px;
        height: 150px;
    }

    .ser_item_img {
        scale: 1.2;
    }

    /* .services {
        transform: translateY(20%);
    } */

    .services_title {
        font-size: var(--font-h2-size);
    }

    .services_list {
        padding-top: 0.7rem;
    }
    .services_background{
        width: 130%;
        transform: translate(0, -7%);
    }

    .services_item {
        /* padding: 0.8rem; */
        /* white-space: nowrap; */
    }

    .showcase_banner>* {
        font-size: var(--font-h4-size);
        padding: .5rem 0;
        margin-bottom: 0.4rem;
    }

    /* services page */
    .services_detail_text h1 {
        font-size: var(--font-h3-size);
    }

    .services_detail_text p {
        font-size: var(--font-h6-size);
    }

    .services_detail_text .p2 {
        line-height: 26px;
        font-size: var(--font-body-l);
    }

    .services_detail_text ul li {
        padding-top: 0.5rem;
    }

    .services_detail_text ul {
        font-size: var(--font-h6-size);
    }

    .btn_back {
        font-size: var(--font-body-l);
    }

    /* podcast page  */


    /* hiring_page  */
    .hiring_hero {

        transform: translate(0, 15%);
    }

    .hiring_title_wrapper {
        font-size: clamp(1rem, 3.5rem, 5rem);
    }
}

@media (max-width: 768px) {
    .wave_wrapper {
        top: 0;

    }

    .hero_title {
        font-size: var(--font-h3-size);
    }

    /* .services {
        transform: translateY(23%);

    } */

    .services_item {
        font-size: var(--font-h6-size);
        padding: 0.5rem;
    }

    .intro_text p {
        width: 90%;
        margin: auto;

    }

    /* about page  */
    /* .head_universe {
        width: 100%;
    }

    .logo-wrapper {
        width: 150px;
        height: 150px;
    } */

    /* podcast page */
    .podcast_item .podcast_wrapper {
        width: 95%;
    }

    /* blog page  */
    .blog_list {
        grid-template-columns: 1fr 1fr;

    }

    .blog_content {
        padding: 0;
    }

    /* services page */
    .services_detail {
        grid-column: 6/13;
    }

    .services_detail_text {
        margin: 1.2rem;
    }

    .services_detail {

        padding-top: 0.5rem;
    }

    .services_detail_text ul {
        padding: 0;
        font-size: var(--font-body-m);
    }

    .services_detail_text .p2 {
        font-size: var(--font-body-m);
        line-height: 20px;
    }

    .services_detail_text .p1 {
        font-size: var(--font-body-l);
    }

    .showcase_detail_title {
        font-size: var(--font-body-l);
        padding: 1rem;
    }

    .services_detail_text h1 {
        padding-top: 1rem;
        padding-bottom: 0;
        font-size: var(--font-h6-size);
    }

    .services_detail_text>* {
        margin-top: 0.2rem;
    }

    .btn_back {
        font-size: var(--font-body-m);
    }

    .services_detail_text ul li {
        padding-top: 0.3rem;
    }

    .flowers_phone {
        transform: translate(0, 10%);
    }

    .frame_1 {
        transform: translate(-5%, 15%);
    }

    .frame_2 {
        transform: translate(0, 80%);
    }


    /* hiring page  */
    .hiring_title_wrapper {
        font-size: clamp(1rem, 3rem, 3rem);
    }
}

@media (max-width:576px) {
    .home_header_logo img, .header_logo img{
        width: 30px;
    }
    .header_nav {
        display: none;
    }

    .btn_menu_mobile {
        display: flex;
    }
    .menu_mobile_nav .menu_nav_items {
        padding-top: 30%;
    }

    .showcase_item img {
        width: 50vw;
    }

    .intro_text {
        padding-bottom: 0.5rem;
    }

    .gallery-cell {
        width: 100px;
    }

    .hero_backround--2 {
        width: 200%;
        transform: translate(0);
    }

    .home_services_list {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
    }

    .ser_item,
    .ser_item:nth-child(n + 6),
    .ser_item:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .ser_item {
        overflow: hidden;
    }

    .ser_item_img {
        width: 100%;
        overflow: hidden;
        display: block;
    }

    .ser_item_img img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        display: block;
    }


    .bg_contact_us{
        bottom: -0.5%;
    }


    .bg_city {
        width: 150%;
        transform: translate(0, 3%);
    }

    .contact_infor {
        grid-column: 5/11;
        transform: translate(-5%, 1%);
        width: 100%;
    }

    .card_contact_us {
        grid-column: 1/5;
        transform: translate(0%, 40%);
        width: 90%;
    }

    .card_phone {
        grid-column: 2/4;
        transform: translateY(-17%);
    }

    .card_mail {
        grid-column: 1/3;
        width: 80%;
        transform: translate(-20%, 35%);
    }

    .card_zalo {
        grid-column: 5/7;
        width: 90%;
        transform: translate(20%, 35%) rotate(7deg);
    }

    .card_fl_b2event {
        grid-column: 6/10;
        transform: translate(10%, 40%) rotate(15deg);
        width: 95%;
    }

    .card_youtube {
        grid-column: 4/6;
        width: 100%;
        transform: translate(0, -40%);
    }

    .card_fb {
        grid-column: 5/7;
        width: 70%;
        transform: translate(80%, -10%);
    }

    .card_ig {
        grid-column: 5/7;
        width: 100%;
        transform: translate(70%, 40%);
    }

    .card_linkedin {
        grid-column: 1/3;
        width: 80%;
        transform: translate(-20%, 30%);
    }


    .bulding {
        grid-column: 5/10;
        transform: translate(-5%, 58%);
    }

    .flowers-1 {
        grid-column: 4/6;
        transform: translate(-14%, 61.5%);
        width: 100%;
    }

    .flowers-2 {
        grid-column: 3/7;
        transform: translate(19%, 35%);
        width: 100%;
    }

    .flowers-3 {
        grid-column: 8/11;
        transform: translate(-10%, 60%);
        width: 100%;
    }

    .flowers-4 {
        grid-column: 8/11;
        transform: translate(-10%, 47%);
        width: 100%;
    }

    .typical_customers_ticker a {
        font-size: 0.8rem;
    }

    .about_intro,
    .about_trust {
        grid-column: 1/-1;
        padding: 0 0.5rem;
    }

    .about_intro p,
    .about_trust p {
        font-size: 1rem;
    }

    .about_trust p {
        margin-bottom: 2rem;
    }

    .about_intro .title,
    .about_trust .title {

        font-size: var(--font-h2-size);
    }

    .hero {
        transform: translate(0, 0%);
    }

    .showreel {
        transform: translate(0, 0);
    }
    .showcase_item img {
    width: 100vw;
}

    .clients {
        transform: translate(0, 20%);
    }

    .head_universe {
        grid-column: 5/9;
        margin: 0rem 0 5rem 0;
    }

    .logo_customers {
        grid-template-rows: 350px auto;
    }

    .galaxy-container {
        top: -35%;
        width: 100%;
        height: 130%;
    }

    .logo-wrapper {
        width: 200px;
        height: 200px;
    }

    .about_background--2 {
        transform: translateY(2%) rotateY(180deg);
    }

    .about_background--3 {
        transform: translateY(0%) rotateY(180deg);
    }

    .about_background--5 {
        transform: translateY(18%);
    }

    .about_background--6 {
        transform: translateY(30%) rotateY(180deg);
    }

    .about_background--6::after {

        height: 50%;
        background: linear-gradient(to top, white 26%, rgba(255, 255, 255, 0) 100%);

    }

    .showreel {
        grid-column: 2/12;
    }

    .creative {
        padding-top: 5rem;
    }

    .sunset {
        transform: translate(-11%, 5%);
    }

    .services_background {
        transform: translate(0%, 28%) scaleY(1.7);
    }

    .services_top_hand {
        transform: translate(7%, 2%) scale(1.3);
    }

    .services {
        margin: 15% 0 1rem 0;
    }


    .services_title {
        /* grid-column: 2/11; */
        font-size: var(--font-h4-size);
        /* white-space: nowrap; */
    }

    .services_subtitle {
        /* grid-column: 2/11; */
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 0;
        font-size: var(--font-body-l);
    }

    .services_list {
        grid-column: 1/-1;
        padding-top: 0;
    }

    .wave_wrapper svg {
        scale: 1.5;
        transform: translate(10%, -15%);
    }

    .showcase_banner {
        transform: translate(0);
    }

    .services_showcase {
        display: none;
    }


    /* services detail */
    .frame_1 {
        grid-column: 6/11;
    }

    .frame_2 {
        grid-column: 3/6;
        transform: translate(0, 50%)
    }

    .flowers_phone {
        grid-column: 3/11;
        transform: translate(0, 1%);
    }

    .services_detail {
        grid-column: 1/-1;
        grid-row: 2;

    }

    .services_item {
        padding: 0;
    }

    .services_detail_text {
        margin: 1rem 0.5rem;

    }

    .services_detail_text h1 {
        font-size: clamp(1.5rem, 7vw, 5rem);
    }

    .services_detail_text .p1 {
        font-size: clamp(1rem, 5vw, 6rem);
        padding-top: 0.2rem;
    }

    .services_detail_text ul {
        font-size: clamp(0.5rem, 4vw, 2rem);
    }

    .services_detail_text ul li {
        padding-top: 0.3rem;
        font-size: clamp(0.5rem, 4vw, 2rem);
    }

    .services_detail_text .p2 {
        font-size: clamp(0.5rem, 3.5vw, 3rem);
        line-height: 20px;
        text-align: start;
    }

    .showcase_detail_title {
        font-size: clamp(0.5rem, 2.4vw, 2rem);
    }

    .services_detail_showcases {
        grid-row: 3;
    }

    .btn_back {
        top: 2%;
        font-size: var(--font-body-m);
        font-weight: 700;
    }

    /* podcast */
    .podcast_container {
        display: block;
    }

    .background_human {
        position: absolute;
    }

    .podcast_list_section {
        transform: translate(0, 0%);
        padding-bottom: 0.5rem;
    }

    .podcast_list {
        gap: 0.5rem;
        position: relative;
        bottom: 20%;

    }




    .podcast_background {
        visibility: hidden;
    }

    /* blog  */
    .background_headphone {
        grid-column: 1/-1;
        grid-row: 1;
        width: 120%;
        transform: translateX(-10%);

    }

    .blog_hero {
        top: -5%;
    }

    .blog_list_section {
        transform: translate(0, -1%);
    }

    .blog_content {
        padding: 0 0.8rem;
    }

    .blog_hero_title {
        font-size: clamp(2rem, 20vw, 10rem);
    }

    .blog_background {
        display: none;
    }

    .podcast_item .podcast_wrapper {
        width: 95%;
    }

    .podcast_process_title {
        font-size: var(--font-h6-size);
        white-space: nowrap;
    }

    .podcast_process_text {
        font-size: var(--font-body-m);
    }

    .podcast_process_content>* {
        margin-bottom: 0.5rem;
    }

    .blog_list {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .blog_text {
        margin-bottom: 0.2rem;
    }

    .blog_list_section .pagination {
        top: 0;
    }

    .blog_img img {
        width: 95%;
    }

    .pagination {
        top: 0%;
    }

    /* hiring page */
    .hiring_hero {
        transform: translate(0, 8%);
    }

    .hiring_hero>*{
        width: 100%;
    }
    .hiring_human {
        grid-column: 2/12;
    }

    .hiring_title_wrapper {
        font-size: var(--font-h1-size);
    }

    .hiring_background {
        width: 170%;
        transform: translate(0, -5%);
    }

    .hiring_list {
        width: 100%;
    }

    .hiring_thumb {
        flex: 4;
    }

    .hiring_title {
        font-size: var(--font-h2-size);
        font-weight: 900;


    }

    .hiring_text {
        font-size: var(--font-body-m);
    }

    .hiring_info {
        padding: 1rem;
    }


    .footer_logo img {
        width: 30%;
        padding: 0.5rem;
    }

    .footer {
        flex-direction: column;
    }

    .footer_blocks {
        flex-direction: column;
        justify-content: left;
        text-align: left;
        gap: 0;

    }

    .footer_bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
    }

}

@media (max-width:500px) {
    /* 
    .hero_title_top,
    .hero_title_bottom {
        transform: translateY(10%);
        font-size: 0.9rem;
        width: 97%;
    }

    .services_top_hand {
        transform: translate(7%, 5%) scale(1.3);
    }

    .services_title {
        font-size: clamp(0.5rem, 4.5vw, 5rem);
        padding-bottom: 0.2rem;
    }

    .services_subtitle {
        font-size: clamp(0.2rem, 2.5vw, 3rem);
    } */

    .services_item,
    .showcase_banner>* {
        font-size: clamp(1rem, 6vw, 7rem);
    }



    /* services detail */


    .showcase_banner {
        transform: translateY(12%);
    }

    /* podcast */
    .podcast_intro {
        font-size: clamp(0.5rem, 3vw, 3rem);
    }

    .podcast_process_title {
        white-space: wrap;
    }

    .podcast_list {
        gap: 0rem;


    }


    /* services detail */


    .showcase_detail_title {
        font-size: var(--font-body-m);
    }

    .showcase_banner {
        transform: translateY(12%);
    }
}

@media (max-width:360px) {}

.popup {
    opacity: 0;
    transform: scale(0.8) translateY(30px);
    will-change: opacity, transform;
}

.popup.show {
    animation: popupFade 0.8s cubic-bezier(.45, 1.35, .6, 1) forwards;

}

.popup_float-1 {
    opacity: 0;
    transform: scale(0.8) translateY(30px);
    transition: all 0.5s ease-out;
}

.popup_float-1.show {
    animation: popupFade 0.8s cubic-bezier(.45, 1.35, .6, 1) forwards,
        floatY-1 3s ease-in-out 1s infinite alternate;
}

.popup_float-2 {
    opacity: 0;
    transform: scale(0.8) translateY(30px);
    transition: all 0.5s ease-out;
}

.popup_float-2.show {
    animation: popupFade 0.8s cubic-bezier(.45, 1.35, .6, 1) forwards,
        floatY-2 3s ease-in-out 1s infinite alternate;
}

.popup_float-3 {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease-out;
}

.popup_float-3.show {
    animation: popupFade 0.8s cubic-bezier(.45, 1.35, .6, 1) forwards,
        floatY-3 3s ease-in-out 1s infinite alternate;
}

.popup_shake {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.5s ease-out;
}

.popup_shake.show {
    animation: popupFade 0.8s cubic-bezier(.45, 1.35, .6, 1) forwards,
        softShake 0.5s ease-in-out 1s infinite;
}

.up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
}

.up.show {
    animation: upFromBottom 1s cubic-bezier(.45, 1.35, .6, 1) forwards;
}

@keyframes upFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.from-center {
    opacity: 0;
    transform: scale(0.6);
}

.from-center.show {
    animation: growCenter 1.2s ease-out forwards;
}

@keyframes growCenter {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    70% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.from-right {
    opacity: 0;
    transform: translateX(40px);
}

.from-right.show {
    animation: slideRightSoft 1.2s ease-out forwards, sway 3s ease-in-out 1.2s infinite;
}

@keyframes slideRightSoft {
    0% {
        opacity: 0;
        transform: translate(40px, 40px);
    }

    60% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes sway {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(-2deg);
    }

    75% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@keyframes popupFade {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(30px);
        filter: blur(4px);
    }

    80% {
        transform: scale(1.05) translateY(-5px);
        filter: blur(0);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* @keyframes popupFade {
    0% {
        opacity: 0;
        transform: scale(0.85) translateY(40px);
        filter: blur(4px);
    }
    70% {
        opacity: 1;
        transform: scale(1.02) translateY(0);
        filter: blur(0);
    }
    100% {
        transform: scale(1);
    }
} */

@keyframes slideLoopfromRtoL {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes rotate-1 {

    0%,
    50% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-40deg);
    }

    75% {
        transform: rotate(40deg);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}

@keyframes floatY-1 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5%);
    }
}

@keyframes floatY-2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-20%, -30%);
    }
}

@keyframes floatY-3 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(20%, -30%);
    }
}



@keyframes softShake {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    10% {
        transform: translate(-2px, 0) rotate(-2deg);
    }

    30% {
        transform: translate(2px, 0) rotate(2deg);
    }

    35% {
        transform: translate(0, 0) rotate(0deg);
    }

    /* 45%  { transform: translate(-2px, 0) rotate(-2deg); }
  65%  { transform: translate(2px, 0) rotate(2deg); } */
    70% {
        transform: translate(0, 0) rotate(0deg);
    }

    80% {
        transform: translate(-2px, 0) rotate(-2deg);
    }

    90% {
        transform: translate(2px, 0) rotate(2deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + 110px));
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw - 110px));
  }
}