* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-1: "Noto Serif", serif;
    --font-2: "Inter", sans-serif;
}

body {
    background-color: #F0F0E6;
    overflow-x: hidden;
}

h2,h3,p { margin: 0; }

header {
    text-align: center;
    position: relative;
}
.title{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Times New Roman", serif;
    font-weight: 100;
    color: #4c718d;
    font-size: clamp(1rem, 18vw, 20rem);    
    letter-spacing: -0.5vw;   
    line-height: 1;
    text-align: center; 
    white-space: nowrap; 
    max-width: 100%;
    overflow-wrap: break-word; 
}
.subtitle {
    font-size: clamp(0.5rem, 2.5vw, 3rem);  
    font-weight: bold;
    color: #4c718d;

}

/* Section */
section{
    height: max-content;
    position: relative;
}

.container_grid {
    position: relative;
    max-width: 90%; 
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 15%;
    aspect-ratio: 4/3; 
}

.container_grid img {
    object-fit: cover;
    position: absolute;
    max-width: 100%;
    height: auto;
}

.container_grid .portrait img {
    left: 8%;
    width: 40%;
    aspect-ratio: 3/4;
    transform: rotate(-3deg); 
    border: 1.5vw solid #fff;
}

.container_grid .slogan {
    position: absolute;
    top: 3%;
    right: 15%;
    width: 25%;
}
.container_grid .slogan p {
    font-family: "Times New Roman", serif;
    color: #4c718d;
    font-style: italic;
    font-size: clamp(0.1rem, 5vw, 10rem);
    line-height: 1.2;
    text-align: left;
    letter-spacing: 0.05em;
    max-width: 100%;
    word-wrap: break-word;  
    overflow-wrap: anywhere; 
}


.container_grid .quote {
    position: absolute;
    background: url("images/note.png") no-repeat center/cover;
    top: 50%;
    left: 2%;
    width: 40%;
    padding: 5%;
    color: #4c718d;
}
.container_grid .quote p {
    padding-top: 40%;
    font-family: "Times New Roman", serif;
    font-size: clamp(0.1rem, 1.5vw, 3rem);
    color: #4c718d;
    text-align: left;
}

.container_grid .photo1 {
    right: 10%;
    bottom: -10%;
    width: 30%;
    aspect-ratio: 3/4;
}

.container_grid .photo2 {
    right: 40%;
    bottom: -15%;
    width: 25%;
    aspect-ratio: 5/4;
    z-index: 2;
}

.content_container {
  width: clamp(50px, 100%, 720px); 
  margin: 0 auto;       
  box-sizing: border-box;
}

.content_container p {
    margin: 2% auto;
    padding: 0 15px;
    text-align: justify;
}
.question {
    font-weight: bold;
    font-size: clamp(1rem, 1.3vw, 2rem);
}

.gallery, .gallery1, .gallery2, .gallery3 {
    position: relative;
    max-width: 90%;
    margin: 1vh auto;
}
.gallery img,
.gallery1 img,
.gallery2 img,
.gallery3 img {
    object-fit: cover;
    position: absolute;
    max-width: 100%;
    height: auto;
}

.quote {
    position: absolute;
    background: #4c718d;
    color: #fff;
    padding: 2% 3%;
    font: italic 1.8rem'Playfair Display', serif;
    text-align: left;
}
.source {
    display: block;
    margin-top: 5%;
    font-weight: bold;
    font-size: clamp(0.1rem, 0.5vw, 1rem);
}

/* Gallery 0 */ 
.gallery {
    aspect-ratio: 3/2;
}
.gallery .photo_top {  
    top: 5%;
    left: 25%;  
    width: 15%;   
    border: 0.5vw solid white; 
    z-index: 2;
}
.gallery .photo_bottom {
    height: 40%;
    top: 30%;
    right: 25%;
    z-index: 1;
}
.gallery .quote {
    bottom: 15%;
    left: 25%;
    width: 20%;
    z-index: 2;
    font-size: clamp(0.1rem, 1.5vw, 2rem);
}

/* Gallery 1 */
.gallery1 {
    aspect-ratio: 3/2;
}
.gallery1 .title {
    position: absolute;
    background: #4c718d;
    width: 25%;
    height: 70%;
    left: 8%;
}
.gallery1 .title p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: clamp(0.8rem, 6vw, 4rem);
    color: white;
    letter-spacing: -0.2rem;
    margin-top: 1rem;
}
.gallery1 .quote {
    top: 45%; 
    right: 20%;
    width: 18%;
    font-size: clamp(0.1rem, 1.4vw, 1.6rem);
    z-index: 3;
}
.gallery1 .photo1 {
    top: 10%;
    left: 25%;
    width: 20%;
    border: 0.5vw solid white;
    z-index: 3;
}
.gallery1 .photo2 {
    bottom: 10%;
    left: 15%;
    width: 25%;
    z-index: 3;
}
.gallery1 .photo3 {
    top: 20%;
    left: 23%;
    width: 60%;
    z-index: 2;
}
.gallery1 .photo4 {
    right: 10%;
    width: 25%;
    z-index: 2;
}

/* Gallery 2 */
.gallery2 {
    aspect-ratio: 3/2;
}
.gallery2 .quote {
    top: 5%;
    left: 32%;
    width: 25%;
    font-size: clamp(0.1rem, 1.4vw, 2rem);
    z-index: 1;
}
.gallery2 .photo_bottom {  
    top: 50%;
    left: 25%;
    width: 35%;
    z-index: 1;
}
.gallery2 .photo_top {
    right: 28%; 
    top: 20%;
    width: 17%; 
    border: 0.5vw solid #fff;
    z-index: 2;
}

/* Gallery 3 */
.gallery3 {
    aspect-ratio: 3/2;
}
.gallery3 .quote {
    width: 25%;
    top: 50%;
    right: 22%;
    z-index: 2;
    font-size: clamp(0.1rem, 1.5vw, 3rem);
}
.gallery3 .photo1{
    width: 50%;
    top: 5%;
    left: 25%;
    z-index: 2;
}
.gallery3 .photo2{
    left: 25%;
    top: 60%;
    width: 20%;
    border: 0.5vw solid white;
}
.gallery3 .photo3{
    right: 25%;
    width: 25%;
    top: 90%;
}

/* Thanh ngang */
.temp{
    width: clamp(50px, 90%, 720px); 
    background-color: #4c718d;
    height: 1vh;
    margin: 0 auto;
    margin-top: 10%;
}

/* Footer */
.credits {
    width: 60%;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 2% 0;
    
}
.credits p {
    font-size: clamp(0.5rem, 0.7vw, 0.9rem);
    font-weight: 300;
    margin: 0;
}
.credits h3 {
    font-size: clamp(0.5rem, 0.7vw, 0.9rem);
    font-weight: bold;
    margin: 0.2rem 0 0;
}


